@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-fuchsia-600/70;
}

.cbs article h1,
.cbs article h2 {
  @apply tracking-tighter;
}

.nextra-toc a {
  @apply transition-colors font-normal;
}

.nextra-toc a.nx-text-primary-600 {
  @apply font-semibold;
}
