@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

:is([data-theme="dark"] body) {
  --sl-color-text-accent: var(--sl-color-accent) !important;
  --sl-color-text-invert: var(--sl-color-white) !important;
}

:is([data-theme="dark"] .sl-markdown-content a:not(:where(.not-content *))) {
  --sl-color-text-accent: #d946ef !important;
}

.sl-markdown-content a:not(:where(.not-content *)) {
  text-decoration: none;
}

.sl-markdown-content a:hover:not(:where(.not-content *)) {
  color: var(--sl-color-asides-text-accent, var(--sl-color-text-accent));
  @apply underline;
}

header.header {
  @apply h-14 bg-[var(--sl-color-bg)];
  border: none;
  backdrop-filter: blur(24px) saturate(250%);
  background: var(--sl-color-bg-overlay);
}

@media (min-width: 50rem) {
  site-search {
    @apply inline w-64;
  }

  site-search > button {
    @apply !h-8 !border-none !bg-neutral-100 !pe-2.5 !ps-2.5 !text-black hover:!bg-neutral-200 dark:!bg-neutral-900 dark:!text-white dark:hover:!bg-neutral-800/80;
  }
}

.site-title:hover {
  @apply opacity-75;
}

:root {
  --sl-color-bg: white;
  --sl-color-hairline-light: theme("colors.gray.200") !important;
}

:root[data-theme="dark"] {
  --sl-color-bg: black;
  --sl-color-hairline-light: hsl(235, 5%, 12%) !important;
  --sl-color-bg-overlay: rgba(0, 0, 0, 0.62);
}

.expressive-code .frame {
  --code-background: var(--sl-color-bg) !important;
  --tab-border-radius: 7px;
  --ec-brdRad: 7px;
  --ec-frm-trmTtbDotsFg: #2f363d;
  --ec-frm-trmTtbDotsOpa: 0.15;
}

:is([data-theme="dark"] .expressive-code .frame) {
  --code-background: var(--sl-color-bg) !important;
  --ec-brdCol: hsl(235, 5%, 12%);
  --ec-frm-trmTtbBg: var(--ec-brdCol);
  --ec-frm-trmTtbBrdBtmCol: var(--ec-brdCol);
  --ec-frm-edTabBarBrdBtmCol: var(--ec-brdCol);
  --ec-frm-edTabBarBrdCol: var(--ec-brdCol);
  --ec-frm-edTabBarBg: var(--sl-color-bg);
  --ec-frm-edActTabBg: var(--ec-brdCol);
  --ec-frm-trmTtbDotsFg: #768390;
  --ec-frm-trmTtbDotsOpa: 0.15;
}

dialog {
  --sl-color-gray-5: hsl(235, 5%, 87%);
  --sl-color-gray-6: hsl(235, 5%, 87%);
  --sl-color-black: #fff;
}

:is([data-theme="dark"] dialog) {
  --sl-color-gray-5: hsl(235, 5%, 12%);
  --sl-color-gray-6: hsl(235, 5%, 4%);
  --sl-color-black: hsl(235, 5%, 1%);
}

:root mobile-starlight-toc nav {
  backdrop-filter: blur(32px) saturate(250%);
  background: var(--sl-color-bg-overlay);
  margin-top: calc(-1 * var(--sl-nav-height));
  margin-left: calc(-1 * var(--sl-sidebar-width));
  padding-top: var(--sl-nav-height);
  padding-left: var(--sl-sidebar-width);
}

:root mobile-starlight-toc summary {
  border: none;
}

.sidebar-pane {
  background-color: var(--sl-color-bg);
}

.sidebar-pane,
.right-sidebar {
  border: none;
}

.sidebar-content ul li {
  margin-top: 0;
}

.sidebar-content ul li a,
.sidebar-content ul li details ul li a {
  background: transparent !important;
}

.sidebar-content ul li a[aria-current="page"],
.sidebar-content ul li details ul li a[aria-current="page"] {
  color: var(--sl-color-white);
}

.sidebar-content ul li a:not([aria-current="page"]),
.sidebar-content ul li details ul li a:not([aria-current="page"]) {
  color: var(--sl-color-gray-3);
}

.sidebar-content ul li a:not([aria-current="page"]):hover,
.sidebar-content ul li details ul li a:not([aria-current="page"]):hover {
  @apply underline;
}

.content-panel {
  border: none !important;
  @apply py-3;
}

.right-sidebar a {
  background: transparent !important;
  @apply transition-colors;
}

.right-sidebar a[aria-current="true"] {
  color: var(--sl-color-white);
  font-weight: 500;
}

.right-sidebar a:not([aria-current="true"]):hover {
  color: var(--sl-color-gray-3);
}

.right-sidebar a:hover {
  @apply underline;
}

.social-icons a {
  @apply text-black dark:text-white;
}

.large {
  @apply tracking-tight;
}

[data-has-hero] .large {
  @apply tracking-tighter;
}

:root {
  --overlay-blurple: rgb(232 121 249 / 0.2);
}

[data-has-hero] .page {
  background:
    linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
    radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh /
      105vw 200vh,
    radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
      calc(100% + 20rem) / 60rem 30rem;
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent !important;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

[data-has-hero] .hero > img {
  filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

[data-has-hero] .card {
  border-radius: 12px;
  position: relative;
  background: radial-gradient(
      300px circle at top left,
      rgba(232, 121, 249, 0.081) 20%,
      transparent 100%
    ),
    radial-gradient(
      300px circle at bottom right,
      rgba(232, 121, 249, 0.081) 20%,
      transparent 100%
    );
}

[data-has-hero] .card::before {
  content: "";
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  transition: opacity 400ms ease 0s;
  will-change: background, opacity;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(232, 121, 249, 0.15),
    transparent 40%
  );
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

[data-has-hero] .card:hover::before {
  opacity: 1;
}

.action.primary {
  @apply border border-accent-700 bg-accent-400/50 text-black hover:bg-accent-500/50 dark:border-accent-500 dark:bg-accent-950 dark:text-white dark:hover:bg-accent-900/80;
}

.hero > img {
  animation: vert-move 3s ease-in-out infinite;
  @apply rounded-full;
}

@keyframes vert-move {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

h1 {
  @apply font-bold tracking-tighter;
}

h2 {
  @apply tracking-tight;
}

.card .title {
  @apply tracking-tighter;
}

.heading-link::after {
  content: "#";
  padding-inline-start: 0.25em;
  opacity: 0;
  transition: all 0.3;
}

.heading-link:hover::after {
  color: var(--sl-color-text-accent);
  transition: all 0.3;
  opacity: 1;
}

.heading-link {
  text-decoration: none !important;
  color: var(--sl-color-white) !important;
}
