@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

:root {
  scrollbar-width: thin;
  scrollbar-color: rgb(217 70 239) transparent;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  height: 12rem;
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

:is([data-theme="dark"] body) {
  --sl-color-text-accent: var(--sl-color-accent) !important;
  --sl-color-text-invert: var(--sl-color-white) !important;
}

:is([data-theme="dark"] .sl-markdown-content a:not(:where(.not-content *))) {
  --sl-color-text-accent: #e879f9 !important;
}

header.header {
  border-bottom: 1px solid var(--sl-color-gray-5);
  @apply h-14 bg-white bg-opacity-80 backdrop-blur-md backdrop-filter;
}

:is([data-theme="dark"] header.header) {
  @apply bg-gray-900 bg-opacity-80;
}

@media (min-width: 50rem) {
  site-search {
    @apply inline w-64;
  }

  site-search > button {
    @apply !h-8 !border-none !bg-neutral-100 !pe-2.5 !ps-2.5 !text-black hover:!bg-neutral-200 dark:!bg-neutral-800 dark:!text-white dark:hover:!bg-neutral-700/80;
  }
}

.site-title:hover {
  @apply opacity-75;
}

.sidebar-pane {
  background-color: var(--sl-color-bg);
  border-right: 1px solid var(--sl-color-gray-6);
}

.sidebar-content ul li details ul li {
  padding-inline-start: 0;
  border-inline-start: none;
}

.sidebar-content ul li details ul li a {
  border-inline-start: 1.5px solid var(--sl-color-hairline-light);
  border-radius: 0;
  margin-inline-start: var(--sl-sidebar-item-padding-inline);
  padding-inline-start: var(--sl-sidebar-item-padding-inline);
}

.sidebar-content ul li details ul li a[aria-current="page"],
.right-sidebar a[aria-current="true"] {
  background-color: rgb(217 70 239 / 0.3);
  border-inline-start: 1.5px solid var(--sl-color-accent);
}

.sidebar-content ul li details ul li a:hover,
.right-sidebar a:hover {
  background-color: rgb(217 70 239 / 0.2);
  border-inline-start: 1.5px solid var(--sl-color-accent);
  @apply border-s-[1.5px] border-s-fuchsia-500/30 underline;
}

.right-sidebar a {
  border-inline-start: 1.5px solid var(--sl-color-hairline-light);
  border-radius: 0;
}

.social-icons a {
  @apply text-black dark:text-white;
}

.large {
  @apply tracking-tight;
}

[data-has-hero] .large {
  @apply tracking-tighter;
}

:root {
  --overlay-blurple: rgb(232 121 249 / 0.2);
}

[data-has-hero] .page {
  background:
    linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
    radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh /
      105vw 200vh,
    radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
      calc(100% + 20rem) / 60rem 30rem;
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent !important;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

[data-has-hero] .hero > img {
  filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

.action.primary {
  @apply border border-accent-700 bg-accent-400/50 text-black hover:bg-accent-500/50 dark:border-accent-500 dark:bg-accent-950 dark:text-white dark:hover:bg-accent-900/80;
}

.hero > img {
  animation: vert-move 3s ease-in-out infinite;
  @apply rounded-full;
}

@keyframes vert-move {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

h1 {
  @apply font-bold tracking-tighter;
}

h2 {
  @apply tracking-tight;
}

.heading-link::after {
  content: "#";
  padding-inline-start: 0.25em;
  opacity: 0;
  transition: all 0.3;
}

.heading-link:hover::after {
  color: var(--sl-color-text-accent);
  transition: all 0.3;
  opacity: 1;
}

.heading-link {
  text-decoration: none;
  color: var(--sl-color-white) !important;
}
