---
import type { Props } from "@astrojs/starlight/props";
import SiteTitle from "@astrojs/starlight/components/SiteTitle.astro";
import Search from "@astrojs/starlight/components/Search.astro";
import ThemeSelect from "./ThemeSelect.tsx";
import SocialIcons from "./SocialIcons.astro";
import { MoveUpRight } from "lucide-react";

interface Link {
  name: string;
  href: string;
  slug?: string;
}
const links: Link[] = [
  {
    name: "Docs",
    href: "/docs/introduction",
    slug: "/docs",
  },
  {
    name: "Commands",
    href: "/commands",
  },
  {
    name: "Status",
    href: "https://status.csmos.space",
  },
];
const { slug } = Astro.props;
---

<div class="flex h-full items-center justify-between">
  <SiteTitle {...Astro.props} />
  <div class="flex items-center gap-3">
    <div class="hidden fifty:flex fifty:items-center fifty:gap-3">
      {
        links.map((link) => (
          <a
            href={link.href}
            class='flex items-center gap-1 text-sm text-gray-400 no-underline hover:text-black data-[is-active="true"]:font-medium data-[is-active="true"]:text-black dark:hover:text-gray-100 dark:data-[is-active="true"]:text-gray-100'
            target={link.href.startsWith("https") ? "_blank" : undefined}
            data-is-active={
              slug.startsWith(link.slug?.slice(1) ?? link.href.slice(1))
                ? "true"
                : "false"
            }
          >
            {link.name}
            {link.href.startsWith("https://") ? (
              <MoveUpRight width={16} height={16} />
            ) : null}
          </a>
        ))
      }
    </div>
    <Search {...Astro.props} />
    <div class="hidden fifty:flex fifty:items-center fifty:gap-3">
      <div class="social-icons flex items-center gap-3">
        <SocialIcons {...Astro.props} />
      </div>
      <ThemeSelect client:load />
    </div>
  </div>
</div>
