---
import type { Props } from "@astrojs/starlight/props";
import SiteTitle from "@astrojs/starlight/components/SiteTitle.astro";
import Search from "@astrojs/starlight/components/Search.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";

interface Link {
  name: string;
  href: string;
  slug?: string;
}
const links: Link[] = [
  {
    name: "Guide",
    href: "/guides/example",
    slug: "/guides",
  },
];
const { slug } = Astro.props;
---

<div class="flex h-full items-center justify-between">
  <SiteTitle {...Astro.props} />
  <div class="flex items-center gap-3">
    {
      links.map((link) => (
        <a
          href={link.href}
          class='text-sm text-gray-400 no-underline hover:text-black data-[is-active="true"]:text-black  dark:hover:text-gray-100 dark:data-[is-active="true"]:text-gray-100'
          data-is-active={
            slug.startsWith(link.slug?.slice(1) ?? link.href.slice(1))
              ? "true"
              : "false"
          }
        >
          {link.name}
        </a>
      ))
    }
    <Search {...Astro.props} />
    <div class="social-icons flex items-center gap-3">
      <SocialIcons {...Astro.props} />
    </div>
    <ThemeSelect {...Astro.props} />
  </div>
</div>
